<md-content layout="column">
    <section layout-padding class="logo-bar" flex layout="row" layout-align="center center">
        <img alt="logo" src="/images/logo.png" />
        <div class="overlay bg"></div>
        <div class="overlay tint"></div>
    </section>
    <section id="info">
        <div>
            Formula 1 Application.
        </div>
        <div>
            Created by Tigran Hakobyan.
        </div>
        <div>
            Technologies used:.
        </div>
    </section>
    <table class="material-table default md-whiteframe-5dp" id="techTable">
        <tbody>
        <tr>
            <td>Angular JS</td>
            <td>1.6</td>
        </tr>
        <tr>
            <td>Angular Material UI</td>
            <td>1.4</td>
        </tr>
        <tr>
            <td>Angular Loading Bar</td>
            <td>0.9</td>
        </tr>
        </tbody>
    </table>
</md-content>