/*Defining global default values*/
/*!default means you can override it wherever you want*/
/*mixin for creating "material-table" item style, passing UI value will make your own theme*/
/*Generating Default theme*/
.material-table.default {
  width: 100%;
  padding: 0;
  border-collapse: collapse; }
  .material-table.default.scrollable-space {
    margin-bottom: 300px; }
  .material-table.default tr a {
    text-decoration: none; }
  .material-table.default td {
    text-align: center; }
  .material-table.default thead {
    border-bottom: 1px solid #37474f; }
    .material-table.default thead tr {
      height: 50px;
      background: #fff; }
  .material-table.default tbody tr {
    height: 50px;
    background: #fff;
    border-bottom: 1px solid rgba(55, 71, 79, 0.1); }
    .material-table.default tbody tr:hover {
      background: rgba(150, 150, 150, 0.1); }
    .material-table.default tbody tr.highlight {
      background: rgba(0, 0, 0, 0.1); }

