/*Defining global default values*/
/*!default means you can override it wherever you want*/
$material-table-head-row-bg: #fff !default;
$material-table-head-row-border-color: rgba(55, 71, 79, 1) !default;
$material-table-body-row-bg: #fff !default;
$material-table-body-row-hover-bg: rgba(150, 150, 150, 0.1) !default;
$material-table-body-row-highlight-bg: rgba(0, 0, 0, 0.1) !default;
$material-table-body-row-border-color: rgba(55, 71, 79, 0.1) !default;
$material-table-body-row-height: 50px !default;

/*mixin for creating "material-table" item style, passing UI value will make your own theme*/
@mixin material-table( 
    $ui: 'default', 
    $material-table-head-row-bg: $material-table-head-row-bg, 
    $material-table-head-row-border-color: $material-table-head-row-border-color, 
    $material-table-body-row-bg: $material-table-body-row-bg, 
    $material-table-body-row-hover-bg: $material-table-body-row-hover-bg,
    $material-table-body-row-highlight-bg: $material-table-body-row-highlight-bg, 
    $material-table-body-row-border-color: $material-table-body-row-border-color, 
    $material-table-body-row-height: $material-table-body-row-height) {

    .material-table.#{$ui} {
        width: 100%;
        padding: 0;
        border-collapse: collapse;

        &.scrollable-space {
            margin-bottom: 300px; //To make last ROW scroll to near-middle of screen, looks nice
        }

        tr {
            a {
                text-decoration: none;
            }
        }

        td {
            text-align: center;
        }

        thead {
            tr {
                height: $material-table-body-row-height;
                background: $material-table-head-row-bg;
            }

            border-bottom: 1px solid $material-table-head-row-border-color;
        }

        tbody {
            tr {
                height: $material-table-body-row-height;
                background: $material-table-body-row-bg;
                border-bottom: 1px solid $material-table-body-row-border-color;

                &:hover {
                    background: $material-table-body-row-hover-bg;
                }

                &.highlight {
                    background: $material-table-body-row-highlight-bg;
                }
            }
        }
    }
}

/*Generating Default theme*/
@include material-table();